# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/your_db_name
DATABASE_USERNAME=
DATABASE_PASSWORD=

# JPA Configuration
DDL_AUTO=update

# CORS Origin Patterns Allowed
CORS_ORIGINS_ALLOWED=*

# JWT Configuration
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=PT40M
JWT_REFRESH_TOKEN_EXPIRATION=P7D

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend URL Configuration
FRONTEND_URL=

# Google Configuration
GOOGLE_CLIENT_ID=

# Cloudinary Configuration
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER_NAME=klock_users_avatar
CLOUDINARY_UPLOAD_PRESET=